.card {
  max-width: 413px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  position: relative; /* Make content positioned for absolute placement */
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  flex-grow: 1; /* Allow the title to expand */
  padding-right: 40px; /* Reserve space for the heart icon */
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  position: absolute; /* Ensure heart stays in one spot */
  right: 0px; /* Keep it aligned to the right */
  top: 50%;
  transform: translateY(-50%); /* Center it vertically */
}
.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 318px;
    width: 288px;
  }
  .card {
    width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 16px;
  }
}
