.cards {
  padding-top: 20px;
}

.cards__list {
  border-bottom: 1px #21212140 solid;
  display: grid;
  gap: 40px 20px;
  /* Adjusted grid-template-columns to be more consistent */
  grid-template-columns: repeat(3, 1fr); /* Force 3 cards per row */
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0 0 40px;
}

@media screen and (max-width: 1024px) {
  .cards__list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Force 2 cards per row on medium screens */
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Force 1 card per row on small screens */
    gap: 20px 20px;
    padding: 0 0 20px;
  }
}
