.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  transition: opacity 0.5s linear;
}

.modal__container {
  background: #fff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
}

.modal__container_type_preview {
  position: relative;
  background: transparent;
  padding: 0px;
  width: auto;
  display: flex;
}

.modal__close-btn_type_preview {
  background-image: url("../images/close-btn-light.svg");
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 1;
  position: absolute;
  top: 0px; /* Corrected to include 'px' */
  right: -45px;
  cursor: pointer;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

.modal__caption {
  background-color: #000;
  color: rgba(255, 255, 255, 1);
  max-width: 100%;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 8px 0 0;
  position: absolute;
  top: calc(100% + 8px);
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.modal__close-btn {
  background-image: url(../images/Group\ 27.svg);
  background-position: center;
  border: none;
  height: 40px;
  opacity: 40%;
  position: absolute;
  right: -45px;
  top: 0px;
  width: 40px;
}

.modal__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: rgba(33, 33, 33, 1);
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.modal__input {
  padding: 16px 12px;
  gap: 10px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-size: 16px;
  background-color: rgb(33, 33, 33);
  border-radius: 8px;
  color: #fff;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__caption {
    font-size: 16px;
    width: auto; /* Adjusted to allow flexible width */
    max-width: 100%; /* Ensure it fits within the container */
    height: auto; /* Adjust to fit content */
    background-color: #000; /* Retain background color */
    padding: 4px 8px; /* Adjust for readability */
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: unset;
    bottom: calc(100% + 8px);
    right: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
